{% load static %}
<html>
<head>
    <link rel="stylesheet" type = "text/css"
    href="{% static 'styles.css' %}">
</head>
<body>
<h1> ZoomTasks </h1>

<table border="1"><tr><th>Michael</th><td><ul><li>Buy groceries</li><li>Finish frontend</li><li>Fill out forms</li><li>update README</li></ul></td></tr><tr><th>Itay</th><td><ul><li>Finish backend</li><li>Contact group</li><li>Review Github PRs</li><li>Help with bugfixing</li><li>Finish up url page</li></ul></td></tr><tr><th>Today</th><td><ul><li>Send email to HR</li></ul></td></tr><tr><th>Daniel</th><td><ul><li>Create test data</li><li>Update parser</li><li>Work on CSS</li><li>update index.html for frontend</li></ul></td></tr><tr><th>Andrew</th><td><ul><li>bugtesting</li><li>Contact other groups</li><li>Test build after fixes</li><li>Push build to branch</li></ul></td></tr><tr><th>Sean</th><td><ul><li>Email professor</li><li>Fix garbage data</li><li>Work on JSON bug</li><li>Present to professor during meeting</li></ul></td></tr></table>
</html>